[submodule "Aquastorm"]
	path = Aquastorm
	url = https://github.com/avbotz/Aquastorm.git
[submodule "otolith"]
	path = otolith
	url = https://github.com/avbotz/otolith.git
[submodule "marlin"]
	path = marlin
	url = https://github.com/avbotz/marlin.git
